{% extends "admin/admin_index1.html" %}
{% block body %}
<form method="post" onsubmit="return validate()" action="/admin_change_password_post">
    <table border="1" class="table-striped" style="width: 500px;" align="center">
        <tr>
            <td>Current Password</td>
            <td><input type="password" name="textfield" class="form-control" required /></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" name="textfield2" id="textfield2"  class="form-control" required/></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="textfield3" id="textfield3" class="form-control" required /></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="CHANGE PASSWORD" class="btn btn-success"/>
            </td>
        </tr>
    </table>
</form>
<script>
    function validate() {
        var npsw=document.getElementById("textfield2").value;
        var cpsw=document.getElementById("textfield3").value;
        if(npsw != cpsw){
            alert('Password mismatch');
            return false;
        }
        return true;
    }
</script>

{% endblock %}