<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/admin_add_notif">Add Notification</a> </p>
<p><a href="/admin_view_notification">View Notification</a> </p>
<p><a href="/admin_add_activities">Add Activities</a> </p>
<p><a href="/admin_view_activities">View Activities</a> </p>
<p><a href="/admin_view_users">View Users</a> </p>
<p><a href="/admin_view_complaints">View Complaints</a> </p>
<p><a href="/admin_change_password">Change Password</a> </p>

</body>
</html>