{% extends "admin/admin_index1.html" %}
{% block body %}
<form method="post" action="/send_reply_post">
    <input type="hidden" name="hid" value="{{ id }}">
    <table border="1" class="table-striped" style="width: 500px;" align="center">
        <tr>
            <td>Reply</td>
            <td><textarea rows="5" cols="45" name="textarea" class="form-control" required ></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="SEND" class="btn btn-success" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}